/*---Базовые стили---*/
html,
body {
	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	line-height: 1;
	font-size: 1rem;
	color: #1f2326;
	background: #d73b48 url("../../img/bg.png") center/ cover no-repeat;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: rem(1400);
	//max-width: rem(1260); //! размер контейнера + padding
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: 64em) {
		//1024px
		max-width: none;
	}
}

._ibg {
	position: relative;

	img {
		position: absolute;

		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.active {
	display: flex !important;
}
